.video-drop-button-div:hover {
    cursor: pointer;
}

.hover-pointer:hover {
    cursor: pointer;
}

input.create-playlist::-webkit-input-placeholder {
    /*style placeholder text*/
    color: rgba(255,255,255,0.7);
    font-size: 13px;
    padding-left: 1px;
}

div.create-playlist {
    /* padding:8px 10px 0px 10px; */
}

input.create-playlist {
    background-color:hsl(0, 0%, 21%) ;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    height:24px;
    width:167px;
    margin:auto;
    color:white;
    outline:none;
}


input.create-playlist:focus {
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid white;
}

input.create-playlist:active {
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid white;
}
