div.comp-wrapper {
    background-color: black;
}

div.comp-wrapper:hover {
    background-color: gray
}


div.button-wrapper:hover {
    background-color: gray;
    cursor:pointer;

}

button.sign-in:hover {
    cursor:pointer;
    
}

button.sign-in {
    background-color: rgba(0,0,0,0)
}


