/* .icon > * {
    fill: white;
}

.icon > *:hover {
    fill: #747474;
} */


div.buttonWrapper:hover {
    background-color: gray;
}

@media screen and (max-width: 792px) {
    div.wrapper {
        display: none;
    }   
  }


