/* div.side-videos-wrapper {

}

@media screen and (min-width: 0px) {
    div.side-videos-wrapper {
        width:100%;
    }
}

@media screen and (min-width: 800px) {
    
}

@media screen and (min-width: 1000px) {
    div.side-videos-wrapper {
        width:330px;
    }

    
}


@media screen and (min-width: 1100px) {
    
}

@media screen and (min-width: 1100px) {
   

    div.playlist-stream-menu {
        /* width:390px; */
    /* }
}

@media screen and (min-width: 1200px) {
    
    div.side-videos-wrapper {
        width:400px;
    }


} */ */