/* {xs:"0px",sm800:"40px",md1100:"70px"} */

@media screen and (min-width: 0px) {
    div.playlists-page{
        width:100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    div.playlist-stream-menu {
        width:100%
    }
}

@media screen and (min-width: 800px) {
    div.playlists-page {
        margin-left: 70px;
        margin-right: 40px;
    }
}

@media screen and (min-width: 1000px) {
    div.playlists-page {
        width:auto;
    }

    div.playlist-stream-menu {
        width:320px;
    }
}


@media screen and (min-width: 1100px) {
    div.playlists-page {
        margin-left: 80px;
        margin-right: 70px;
    }
}

@media screen and (min-width: 1100px) {
    div.playlists-page {
        margin-left: 80px;
        margin-right: 70px;
    }

    div.playlist-stream-menu {
        width:390px;
    }
}