/* input.search-bar::placeholder {
    color:"blue";
} */

input.search-bar::-webkit-input-placeholder {
    /*style placeholder text*/
    color: gray;
    font-size: 15px;
}

.IconButton:hover .IconClass {
    background-color: red;
  }

@media screen and (max-width:600px) {
    input.search-bar {
        /* width:100px */
    }
}

@media screen and (min-width:1200px) {
    input.search-bar {
        margin-left:0px;
    }
}
